
 @font-face {
    font-family: 'airFont';
    src: url('./fonts/kingthingsbloone.ttf');
  }
  @font-face {
    font-family: 'PMinfo';
    src: url('./fonts/ArchivoNarrow-Bold.ttf');
  }
  @font-face {
    font-family: 'airText';
    src: url(./fonts/KingthingsKurllie-Wy0nA.ttf);
  }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
